<div id="logo">
  <%= link_to logo, root_path %>
  <h4>Sample appli</h4>
</div>

<nav class="round">
  <ul>
    <li><%= link_to  "A propos", about_path  %></li>
    <li><%= link_to  "Contact", contact_path  %></li>
    <li><%= link_to "Inscription", signup_path %></li>
    <li><%= link_to "Aide", help_path %></li>
  </ul>
</nav>