<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title><%= titre %></title>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body>
    
    <div class="container">
      <header>
        <%= render 'layouts/head' %>
      </header>
      
      <section class="round">
        <!--   INCLUSION DU MESSAGE FLASH, EN CAS DE SUCCES OU ERREUR     -->
          
            <%= flash.each do |key, value|  %>
              <div class="flash <%= key %>"><%= value %></div>
            <% end %>
          
        <!--    AFFICHAGE DU CONTENU DE LA PAGE    -->
        <%= yield %>
      </section>
        <%= render 'layouts/foot' %>
    </div>
    <%= debug(params) if Rails.env.development? %>    
  </body>
</html>